<div class="form-header">
	<div class="header1">
		<img src="../public/img/logo.png" alt="">
	</div>
	<div class="header2">
		<h1>Biblioteca</h1>
		<h2>Controle de Livro</h2>
	</div>
</div>
<div class="container">
	<form action="/insert" method='POST' id="form">
		<h1>Cadastro de Livros</h1>		

			<div class="input-box">
				<input name="title" type="text" placeholder="Título" required>
				<input name="pages" type="number" placeholder="Quantidade de páginas" required>
				<button type="submit">Cadastrar</button>
			</div>
	</form>
	
	<table>
		<tr>
			<th>Título</th>
			<th>Páginas</th>
			<th>Ações</th>
		</tr>
		{{#each books}}
			<tr>
				<td name="id" style="display: none;">{{idbooks}}</td>
				<td name="title" class="title">{{title}}</td>
				<td name="pages" class="pages">{{pages}}</td>
				<td class="acoes">
					<a href="/edit/{{idbooks}}">
						<i class="fa-solid fa-pen-to-square" id="editar"></i>
					</a>
					<a href="/delete/{{idbooks}}">
						<i class="fa-solid fa-trash" id="trash"></i>
					</a>
				</td>
			</tr>
		{{/each}}
	</table>
</div>