<div class="header">
	<div class="header1">
		<img src="img/logo.png" alt="">
	</div>
	<div class="header2">
		<h1>Biblioteca</h1>
		<h2>Controle de Livro</h2>
	</div>
</div>

<div class="livro">
	<form action="/insert" method='POST'>
		<h1>Cadastro de Livros</h1>		

			<div class="cadastro">
				<input name="title" type="text" placeholder="Título" required>
				<input name="pages" type="number" placeholder="Quantidade de páginas" required>
				<button type="submit">Cadastrar</button>
			</div>
	</form>
	
	<div class="dados">
	<table>
		<tr>
			<th>Título</th>
			<th>Quantidade de Páginas</th>
			<th>Ações</th>
		</tr>
		{{#each books}}
			<tr>
				<td name="id" style="display: none;">{{idbooks}}</td>
				<td name="title" width="45%">{{title}}</td>
				<td name="pages" width="25%">{{pages}}</td>
				<td>
					<a href="/edit/{{idbooks}}">
						<i class="fa-solid fa-pen-to-square" id="editar"></i>
					</a>
					<a href="/delete/{{idbooks}}">
						<i class="fa-solid fa-trash" id="trash"></i>
					</a>
				</td>
			</tr>
		{{/each}}
	</table>
	</div>
</div>

